node_modules
npm-debug.log
yarn-error.log
pnpm-lock.yaml

.git
.gitignore

.env
.env.local
.env.*.local

dist
build
coverage

Dockerfile
docker-compose.yml
.dockerignore

.DS_Store
Thumbs.db

.vscode
.idea
*.suo
*.ntvs*
*.njsproj
*.sln

*.log
